{{!-- jquery link --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<div
  style="position: absolute; height: 100vh; width: 100vw; filter:blur(7px); background-image: url(https://www.hardrockcafe.com/files/5282/Burger-1-061.jpg); background-size:cover;">
</div>
<section class="vh-100 gradient-custom ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 text-light">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-transparent " style="border-radius: 1rem;box-shadow: 1px 1px 5px #222">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase text-light">Login</h2>
              <p class="text-light-50 mb-5 ">Please enter your login and
                password</p>
                 <form action="/admin/login" method="post" id="adminlogin">
                {{#if loginErr}}
                <p style="color: red;" class="error">Incorrect Email and Password</p>
                {{/if}}
                <div class="form-outline form-white mb-4">
                  <label class="form-label " for="typeEmailX">Email</label>
                  <input type="email" id="typeEmailX" class="form-control form-control-lg bg-transparent " name="email"
                    required />
                </div>
                <div class="form-outline form-white mb-4">
                  <label class="form-label " for="typePasswordX">Password</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg bg-transparent  "
                    name="password" required />
                </div>
                <button class="btn btn-outline-light btn-lg px-5 " type="submit">Login</button>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
</section>
<script>
  $("#adminlogin").validate()
</script>