<div
    style="position: absolute; height: 100vh; width: 100vw; filter:blur(2px); background-image: url(https://images.unsplash.com/photo-1509458844418-596a0af865da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80); background-size:cover;">

</div>

<section class="vh-100 gradient-custom ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-transparent text-danger " style="border-radius: 1rem;box-shadow: 2px 2px 7px #222">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase text-light">Login</h2>
                            <p class="text-light mb-5">Please enter your login and
                                password!</p>
                            <form action="/otplogin" method="post" id="userlogin">
                                {{#if mobError}}
                                <p style="color: red;" class="error">Login Error </p>
                                {{/if}}
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label text-light" for="typeEmailX">Mobile Number</label>
                                    <input type="number" id="typeEmailX"
                                        class="form-control form-control-lg bg-transparent text-light" name="number"
                                        required />
                                </div>

                               
                                <button class="btn btn-outline-light btn-lg px-5 my-4" type="submit">Get OTP</button>
                               
                        </div>
                        <div>
                            <p class="mb-0 text-light">Don't have an accout?
                                <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>
                            </p>
                        </div>
                        <p>or</p>
                        <div>
                            <p class="mb-0 text-light">Login with Email?
                                <a href="/login" class="text-white-50 fw-bold">Email Login</a>
                            </p>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
{{!-- jquery link --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
    $("#userlogin").validate();
</script>